@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main{
    padding: 0 !important;
    margin: 0 50px 0 0;
}

body{
    font-family: "Roboto", serif;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    background: #111111;
    height: 100vh;
    width: 100vw;
    color: #fff;
    justify-content: center;
    gap: 5rem;
}

svg {
    border: 1px solid black;
    cursor: move;
    background: #111111;
}

.slider_axis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
    max-width: min-content;
}

.slider_axis p{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

#submitForm {
    position: absolute;
    margin:5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
    padding: .75rem 2.5rem;
    border: 5px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    background: none;
}

#submitForm:hover {
    box-shadow: -6px 6px #fff, 2px -2px #fff;
}

#stepCounter{
    font-size: 1.25rem;
}